body {
    background-color: #333;
    font-family:monospace;
}
h1 {
    color: #f2f2f2;;
    text-align: center;
    /* text-decoration: underline; */
}
p {
    color:black;
}
.topNav {
    background-color: #333;;
    overflow: hidden;
    padding-top: 10px;
    padding-right:10px;
}
.topNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding:  14px 14px;
    /* padding-left: 25px; */
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.1s;
}
.topNav a:hover {
    background-color: lightgray;
    color: black;
}
.topNav a.active {
    background-color: #04AA6D;
    color: white;
}
.topNav .closebtn {
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
}
@media screen and (max-height: 450px){
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    height: 700px;
    width: 660px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #04AA6D; */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    /* background-color: white; */
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.accordion {
    padding-left: 25px;
    padding-right: 25px;
}

.images {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr{
    color: white;
    width: 100%;
}

.title {
    color:white;
}

.subheading {
    color:lightgray;
}