body {
    background-color: lightgray;
    font-family:monospace;
}
h1 {
    color:#04AA6D;
    text-align: center;
    text-decoration: underline;
}
p {
    color:black;
}
.topNav {
    background-color: #333;;
    overflow: hidden;
    /* right: 0; */
    /* height: 100%; */
    /* width: 175px; */
    /* position: fixed; */
    /* z-index: 1; */
    /* top: 0; */
    /* left: 0; */
    /* padding-top: 20px; */
    /* transition: 0.5s; */
    /* text-align: right; */
}
.topNav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.1s;
}
.topNav a:hover {
    background-color: lightgray;
    color: black;
}
.topNav a.active {
    background-color: #04AA6D;
    color: white;
}
.topNav .closebtn {
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
}
@media screen and (max-height: 450px){
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}